@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-hilet { background: linear-gradient(45deg,#061f3a,#a7bace); background-attachment: fixed;}
.bg-figuras{
  background-image: url("/src/Assets/Image/formas-colores.webp");
  background-size: cover;
}
.bg-analista { background-color: #213F60; }
.text-analista { color: #213F60; }
.text-titular {
  color: #ffffff;
  font-size: 3rem;
}
.text-subtitular {
  color: #ffffff;
  font-size: 2rem;
}

.border-analista{ border-width: 2px; border-color: #213F60;}
.bg-blanco { background: linear-gradient(45deg,#cecece,#ffffff); background-attachment: fixed;}
.border-blanco{  border-width: 2px; border-color: whitesmoke;}
.text-publicidad { color: #1d6a3f; }
.bg-publicidad { background-color: #1d6a3f; }
.bg-hilet-publicidad { background: linear-gradient(45deg,#1d6a3f,#a7ceae); background-attachment: fixed;}
.border-publicidad{  border-width: 2px; border-color: #1d6a3f;}

.text-otro { color: #750000; }
.bg-otro { background-color: #750000; }
.bg-hilet-otro { background: linear-gradient(45deg,#750000,#cea7a7); background-attachment: fixed;}
.border-otro{  border-width: 2px; border-color: #750000;}


.analista-button{
  background-color: #213F60;
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  padding: 10px;
}
.analista-button:hover{
  background-color: whitesmoke;
  color: #213F60;
  box-shadow: 0 0 20px #213F60;
  transition: all 0.2s ease-in-out;
}
.publicidad-button{
  background-color: #1d6a3f;
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
}
.publicidad-button:hover{
  background-color: whitesmoke;
  color: #1d6a3f;
  box-shadow: 0 0 20px #1d6a3f;
  transition: all 0.2s ease-in-out;
}
.otro-button{
  background-color: #750000;
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
}
.otro-button:hover{
  background-color: whitesmoke;
  color: #750000;
  box-shadow: 0 0 20px #750000;
  transition: all 0.2s ease-in-out;
}
.aceptar{
  background-color: #16a92a;
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
}
.aceptar:hover{
  color: #16a92a;
  box-shadow: 0 0 20px #16a92a;
  background-color: whitesmoke;
  transition: all 0.2s ease-in-out;
}
.cancelar{
  background-color: #da0000;
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
}
.cancelar:hover{
  color: #da0000;
  box-shadow: 0 0 20px #da0000;
  background-color: whitesmoke;
  transition: all 0.2s ease-in-out;
}
.negrita{
  font-weight: bolder;
}
.activo{
  opacity: 100%;
  transition: all 0.5s ease-in-out;
}
.inactivo{
  opacity: 0%;
  transition: all 0.5s ease-in-out;
}
.titulo{
  font-size: 36px;
}
.input{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.aclaracion{
  align-self:left;
}
.mosaicos{
  width: 22vw;
  aspect-ratio: 1;
  min-width: 220px;
  min-height: 220px;
  transition: all 0.3s;
}

.text-mosaico{
  font-size: 15px;
}


.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: white;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
  margin: 3px 0; /* Espaciado entre las barras */
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.user-menu {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  margin-left: 10px;
  position: relative;
}

.user-menu img {
  margin-right: 5px; /* Espacio entre el icono y la flecha */
}

.arrow {
  font-size: 1.5rem;
  color: white;
  transition: transform 0.3s ease;
  display: inline-block;
}

.arrow.open {
  transform: rotate(180deg);
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 9; /* Detrás del nombre y la flecha */
}

.side-menu.open {
  width: 20vw;
}

@media (max-width: 768px) {
  .side-menu.open {
    width: 100vw;
  }
}

.side-menu-user {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 9; /* Detrás del nombre y la flecha */
}

.side-menu-user.open {
  width: 20vw;
}

@media (max-width: 768px) {
  .side-menu-user.open {
    width: 100vw;
  }
}

.relative {
  display: flex;
  align-items: center;
}

.text-white {
  position: relative;
  z-index: 10; /* Siempre encima */
}

.user-menu {
  display: flex;
  align-items: center;
}

.user-menu img {
  margin-right: 5px;
}

.submenu{
  padding: 10px 5px 10px 40px;
  width: 100%;
  font-weight: bolder;
  border-color: whitesmoke;
  border-width: 0px 0px 2px 0px;
  text-align: start;
}

@media (min-width: 1025px){
  .mosaicos{
    width: 15vw;
    aspect-ratio: 1;
    min-width: 220px;
    min-height: 220px;
    transition: all 0.35s;
  }
  .text-mosaico{
    font-size: 20px;
  }
  .mosaicos:hover{
    width: 18vw;
    min-width: 245px;
    min-height: 245px;
    transition: all 0.35s;
  }
}